<div class="row">
    <div class="columns large-12">
        <br>
        <p>Hi, I'm Evan. I am excited to share some of my accomplishments. Blah, blah, blah.</p>
    </div>

</div>

<section id="academics">
    <h1>Academic Strength</h1>
     <div class="row">
         <div class="columns large-6">
             <p>The courses I enjoy most blah blah blah...</p>
             <p>Here's what a couple of my teachers have to say...</p>
         </div>
         <div class="columns large-6">
             <ul>
                 <li>Member, <a href="http://www.nhs.us/">National Honor Society</a></li>
                 <li>Cumulative GPA, 3.79 (4 point scale)</li>
                 <li>S.A.T. X,XXX (writing: XXX, math: XXX, reading: XXX)</li>
                 <li>AP U.S. History Exam, scored 5 out of 6 points (Top 10% nationally)</li>
             </ul>
             <ul>
                 <h4 class="sport text-center">Sample of Courses Taken</h4>
                 <li>Advanced Placement (AP) U.S. History</li>
                 <li>AP European History (current)</li>
                 <li>Calculus (current)</li>
                 <li>College writting (current)</li>
                 <li>History of World War II</li>
                 <li>Honors English</li>
             </ul>
         </div>
     </div>
</section>
<section id="athletics">
    <h1>Athletic Achievements</h1>
    <div class="row">
        <div class="columns large-6">
            <img class="body-picture" src="img/IMG_3901.JPG">
            <p class="image-text text-center">&COPY; Ben R. Cooper</p>
        </div>
        <div class="columns large-6">
            <img class="body-picture" src="http://keizertimes.net/wp-content/uploads/2015/01/0109-SPO-Evan-Alger-470x264.jpg">
            <p class="image-text text-center">Celt Evan Alger nears a turn in the 200 freestyle race. (KEIZERTIMES/Eric A. Howald)</p>
        </div>
    </div>
    <div class="row">
        <div class="columns large-6 athletics">
            <h3 class="sport text-center">Baseball</h3>
            <p>Varsity Letter</p>
            <li>Sophomore year (2014)</li>
            <li>Junior year (2015)</li>
            <br>
            <p>Positions Played</p>
            <li>Pitcher (Right handed)</li>
            <li>Outfield</li>
            <br>
            Media References
                <ul>
                    <li><a href="http://keizertimes.com/?s=Evan+Alger+baseball">Keizertimes.com</a></li>
                </ul>
        </div>
        <div class="columns large-6 athletics">
            <h3 class="sport text-center">Swimming</h3>
            <ul>
                <li>Junior year (2015), Varsity Letter
                    <ul>
                    <li>50 Freestyle, 25.05 (3 Feb 2015)</li>
                    <li>100 Freestyle, 57.47 (18 Dec 2014)</li>
                    <li>200 Freestyle, 2:14.10 (6 Jan 2015)</li>
                    </ul>
                </li>
                <li>Sophomore year (2014), Varsity Letter
                    <ul>
                        <li>50 Freestyle, 25.93 (30 Jan 2014)</li>
                        <li>100 Freestyle, 1:00.40 (16 Jan 2014)</li>
                    </ul>
                    <ul>
                        <li>State Championship meet in 200 Free Relay</li>
                        <li>Varsity Districts
                            <ul>
                                <li>500 Freestyle, 6:05.80, 8th place</li>
                                <li>200 Freestyle, 2:13.51, 9th place</li>
                                <li>200 Freestyle Relay, 2nd place</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Freshman year (2013)
                    <ul>
                        <li>50 Freestyle, 28.24 (17 Jan 2013)</li>
                        <li>500 Freestyle, 6:27.01 (31 Jan 2013)</li>
                    </ul>
                </li>
            </ul>
            Media References
            <ul>
                <li><a href="http://keizertimes.com/?s=evan+alger+swimming">Keizer Times</a></li>
            </ul>
        </div>
    </div>
</section>
<section id="jobs">
    <h1>Yup. I've worked too.</h1>
    <div class="columns large-12">
        <ul>
            <li>Northwood Park Swim Club</li>
            <ul>
                <li>Lifeguard, 2014, 2015</li>
                <li>Cleaner, 2013</li>
            </ul>
            <li>Oregon State Police, Compliance Enforcement (Nov 2014 - May 2015)</li>
            <ul>
                <li>Assist in enforcement of underage tobacco retail sales enforcement through unannounced inspections.</li>
            </ul>
            <li>Salem Catholic Youth Organization, Lifeguard (Nov 2014 - Feb 2015)</li>
            <li>Oregon Department of Human Services, Compliance Enforcement (Jun - Aug 2014)</li>
        </ul>
    </div>
</section>
<section id="contact">
    <div class="columns large-12">
        <br>
        <h1>Here's how to contact me</h1>
        <ul class="vcard large-centered">
            <li class="fn">Evan Alger</li>
            <li class="street-address">778 Chehalis PL N</li>
            <li class="locality">Keizer</li>
            <li><span class="state">OR</span>, <span class="zip">97303</span></li>
            <li class="phone">
                <a href="tel:503-586-6470">503-586-6470</a>
            </li>
            <li class="email">
                <a href="mailto:alger.evan@gmail.com">alger.evan@gmail.com</a>
            </li>
        </ul>
    </div>
</section>
