<div class="row">
    <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
            <section class="top-bar-section">
                <ul class="left">
                    <li><a href="/">Home</a></li>
                    <li><a href="#academics">Academics</a></li>
                    <li><a href="#athletics">Athletics</a></li>
                    <li><a href="#jobs">Job History</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </section>
        </nav>
    </div>
</div>